@use "../globals/mixins" as *;

button {
  padding: 0.5em 1.2em;
  border: none;
  min-width: 12rem;
  background-color: #dee6e7;
  border-bottom: 3px solid #80a2a7;
  font-weight: 700;
  font-size: .9rem;
  cursor: pointer;
  transition: all 0.1s;
  &.green {
    border-bottom-color: #21975d
  }
  &.red {
    border-bottom-color: #d30d0d
  }
  &:hover {
    background-color: var(--white);
  }
  &:active {
    transform: translateY(2px)
  }
}

label {
  @include disable-selection;
}

.side-button {
  flex: 0 0 auto;
  min-width: 1rem;
  margin-right: -1rem;
}

svg {
  height: 1rem;
  width: 1rem;
  margin: -0.2rem -0.5rem;
  fill: var(--black)
}