@use "../globals/mixins" as *;

::-webkit-scrollbar {
  width: 2px;
  background-color: var(--dark-blue);
  &-thumb {
    background-color: var(--white);
  }
}

.dirpath-select {
  display: flex;
  gap: 1.2rem
}

.list-display {
  background-color: var(--dark-blue);
  list-style: none;
  height: 100%;
  overflow-y: auto;
  .dirent {
    color: var(--yellow);
    @include disable-selection;

    // &::before {
    //   content: "/";
    // }
    &.hidden {
      height: 0;
      overflow: hidden;
    }
    &.dir {
      color: var(--white);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}