html {
  background-image: var(--black-gradient);
}

body {
  color: var(--white);
  font-family: "Sans";
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 5fr 2fr;
  grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
  padding: 2rem;
  padding-top: 3rem;
  gap: 1rem;
  height: 100vh;
  overflow: hidden;
}

main, header, footer {
  display: grid;
  // gap: .2rem;
  // max-width: 100%;
  min-width: 0;
  min-height: 0;
}

main {
  grid-area: main;
  grid-template-rows: min-content 1fr;
  // gap: 4px;
}

header {
  grid-area: header;
  gap: .2rem;
  h1 {
    font-size: 3rem;
    font-weight: 600;
    border-bottom: 1px dashed #527e83;
    letter-spacing: 1px;
    padding-bottom: 0.6rem;
    margin-bottom: 0.5rem;
  }
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  .list-display {
    flex-grow: 1
  }
}

footer {
  grid-area: footer;
}

